/* div {
  margin-bottom: 20px;
  text-align: center;
}
.div1 {
  text-align: center;
}

.best1 {
  color: gray;
  background-color: white;
  padding: 10px 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}
.best2 {
  color: white;
  background-color: #34c6ef;
  padding: 10px 40px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}
.best3 {
  text-align: left;
  font-weight: bold;
  font-size: 25px;
}

.b1 {
  color: white;
  background-color: #34c6ef;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
}
.b2 {
  color: #8d8d8d;
  background-color: #f0f0f0;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
}

.c1 {
  color: white;
  background-color: black;
  border: none;
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
}
.c2 {
  color: #8d8d8d;
  background-color: white;
  border: 1px solid #8d8d8d;
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
}

.button1 {
  color: gray;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}
.button2 {
  color: white;
  background-color: #ff7479;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.button3 {
  color: black;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}
.button3 > i {
  color: #ff7479;
  margin-right: 10px;
}

.button4 {
  color: black;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}
.button4 > i {
  margin-right: 10px;
} */

.quiz1 {
  text-align: center;
}
.quiz1 > button {
  padding: 10px 40px;
  border-radius: 4px;
}
.quiz1 > .one {
  background-color: white;
  border: 1px solid #eeeeee;
}
.quiz1 > .two {
  background-color: #34c6ef;
  border: 1px solid #34c6ef;
  color: white;
}

.quiz2 > .all {
  background-color: #34c6ef;
  color: white;
}
.quiz2 > button {
  border: none;
  border-radius: 50px;
  padding: 8px;
  background-color: #f0f0f0;
}

.quiz3 > .selected {
  background-color: black;
  color: white;
}
.quiz3 > button {
  border-radius: 50px;
  padding: 9px 13px;
  border: 1px solid #f0f0f0;
  background-color: white;
}

.quiz4 > .free {
  background-color: #ececec;
  color: #b9c0c2;
  border: 1px solid #ececec;
  border-radius: 3px;
  font-weight: bold;
  padding: 4px 3px;
}
.quiz4 > .special {
  background-color: #ff7676;
  border: 1px solid #ff7676;
  color: white;
  font-weight: bold;
  padding: 4px 3px;
  border-radius: 3px;
}
.quiz4 > .coupon {
  background-color: white;
  color: black;
  font-weight: bold;
  border: 1px solid #ececec;
  padding: 4px 3px;
  border-radius: 4px;
}
.coupon > i {
  color: #ff7676;
  margin-right: 4px;
}
.quiz4 > .discount {
  background-color: white;
  color: black;
  font-weight: bold;
  border: 1px solid #ececec;
  padding: 4px 3px;
  border-radius: 4px;
}
.discount > i {
  margin-right: 4px;
}
