button {
  color: pink;
  font-size: 20px;
}

h1 {
  color: green;
}

ol > li {
  color: skyblue;
}

div > p {
  color: orange;
}

div > p > span {
  color: red;
  font-weight: bold;
}

div > p > h1 {
  color: gray;
}

div button {
  color: red;
}
