.box {
  width: 100px;
  height: 100px;
  /* background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  ); */
  /* background: linear-gradient(to right, pink, green); */
  /* background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  ); */
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
