.card {
  width: 300px;
  height: 600px;
  background-image: linear-gradient(120deg, #b68c03 0%, #aa2703 100%);
  border-radius: 10px;
}
.profile {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 999px;
  margin-top: 20px;
}
.profile > .name {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0px;
}
.profile > .description {
  color: white;
  font-size: 15px;
  margin: 5px 0px;
}

.menu {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu > button {
  width: 80%;
  background-color: whitesmoke;
  border: none;
  margin: 5px 0px;
  padding: 12px 0px;
  border-radius: 18px;
  font-size: 15px;
  font-weight: bold;
}

.SNS {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  gap: 25px;
}
.SNS > i {
  font-size: 25px;
  color: whitesmoke;
  background: transparent;
}
